
<section class="get-in-touch">
  <h1 class="title">Get in touch</h1>
  <div class="text-center">Contact: 656454323 <br>
    <a href="https://www.madrid.es/portales/munimadrid/es/Inicio/Personas-con-discapacidad/Centro-de-intermediacion-telefonica-para-personas-sordas-o-con-discapacidad-auditiva-y-o-de-fonacion/?vgnextfmt=default&vgnextoid=5dcc362e7fa3c210VgnVCM1000000b205a0aRCRD&vgnextchannel=0d50b7dd3f7fe410VgnVCM1000000b205a0aRCRD" class="text-center">Get an interpreter for your call through a videocall!</a></div>

  <form
    class="contact-form row"
    autocomplete="off"
    [formGroup]="miFormulario"
    (ngSubmit)="submitFormulario()"
  >

    <div class="form-field col-lg-6">
      <input
        placeholder="Name"
        id="name"
        class="input-text js-input"
        formControlName="name"
        type="text"
        required
      />
      <span class="form-text text-danger" *ngIf="campoNoValido('name')">
        {{ error }}
      </span>
    </div>
    <div class="form-field col-lg-6">
      <input
        placeholder="Email"
        id="email"
        class="input-text js-input"
        formControlName="email"
        type="email"
        required
      />
      <span class="form-text text-danger" *ngIf="campoNoValido('email')">
        {{ emailError }}
      </span>
    </div>
    <div class="form-field col-lg-6">
      <input
        placeholder="Company name"
        id="company"
        class="input-text js-input"
        type="text"
        formControlName="companyName"
      />
    </div>
    <div class="form-field col-lg-6">
      <input
        placeholder="Phone number"
        id="phone"
        class="input-text js-input"
        type="tel"
        formControlName="phone"
      />
    </div>
    <div class="form-field col-lg-12">
      <input
        placeholder="Message"
        id="message"
        class="input-text js-input"
        type="text"
        required
        formControlName="mssg"
      />
      <span class="form-text text-danger" *ngIf="campoNoValido('mssg')">
        {{ mssgError }}
      </span>
    </div>
    <div class="form-field col-lg-12 text-center">
      <input
        class="submit-btn"
        type="submit"
        value="Submit"
        [disabled]="miFormulario.invalid"
      />
    </div>
  </form>
</section>
