<!--Cambio de contraseña-->
  <h1 class="title text-center mt-3">Change your password</h1>

    <form [formGroup]="miFormulario"
    (ngSubmit)="submitFormulario()"
    class="m-4 text-center mt-5">
    <!--Current password-->
      <div class="form-group">
        <label for="currentPassword">Write your current password:</label>
        <input  type="password" class="form-control-sm" id="ecurrentPassword"  placeholder="Enter current password" formControlName="password">
        <span class="form-text text-danger" *ngIf="campoNoValido('password')">
          {{ currentPasswordError }}
        </span>
      </div>
  <!--New password-->
      <div class="form-group">
        <label for="currentPassword">Write your new password (with at least 6 letters):</label>
        <input type="password" class="form-control-sm" id="ecurrentPassword"  placeholder="Enter new password" formControlName="newPassword">
        <span class="form-text text-danger" *ngIf="campoNoValido('newPassword')">
          Passwords must contain at least 6 characters.
        </span>
      </div>
      <!--New password 2-->
      <div class="form-group">
        <label for="currentPassword">Repeat your new password:</label>
        <input [(ngModel)]="newPassword" type="password" class="form-control-sm" id="ecurrentPassword"  placeholder="Repeat the new password" formControlName="newPassword2">
        <span class="form-text text-danger" *ngIf="campoNoValido('newPassword2')">
          Both passwords must be equal.
        </span>
      </div>
      <!--Submit-->
      <button type="submit" class="btn btn-primary" [disabled]="miFormulario.invalid" >Submit</button>
    </form>


