<!--CARRUSEL-->
<div class="row centrar imgFondo">

    <div class="contenedor">
      <div class="tituloOficial">H e a l t h U p !</div>
      <div class="subtitulo">Make it possible</div>
    </div>

</div>

<!--ABOUT-->
<div class="row centrar">
  <h1 class="about my-5">About</h1>
  <h2>Our app is designed to help you keep track of your workouts and meals. Now you can set weekly goals and check your progress daily.</h2>
  <h2>What are you waiting for? Create your account and start enjoying the benefits of taking care of yourself and feeling good!</h2>holi
</div>

<!--CARRUSEL-->
<div class="row centrar">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img
          src="../../assets/img/spaguet.jpg"
          class="img-fluid w-50 h-40"
          alt="..."
        />
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="../../assets/img/girl.jpg"
          class="img-fluid w-50 h-40"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="../../assets/img/toasts.jpg"
          class="img-fluid w-50 h-40"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="../../assets/img/checklist.jpg"
          class="img-fluid w-50 h-40"
          alt="..."
        />
      </div>
    </div>
  </div>
  <!-- CONTENIDO -->
  <div class="row mt-5 centrar centro">
    <div class="card-deck justify-content-center d-flex centrar row">
      <!--Card 1-->
      <div
        class="card cardCard mx-3 col-md-4 col-sm-6 col-12 mt-2 card1"
        style="width: 18rem; display: inline-block"
      >
        <p class="card-text texto1 bottom-aligned text-white">
          Control your habits!
        </p>
      </div>

      <!--Card 2-->
      <div
        class="card cardCard mx-3 col-md-4 col-sm-6 col-12 mt-2 card2"
        style="width: 18rem; display: inline-block"
      >
        <p class="card-text bottom-aligned text-white">Track your training</p>
      </div>

      <!--Card 3-->
      <div
        class="card cardCard mx-3 col-md-4 col-sm-6 col-xs-12 col-12 mt-2 card3"
        style="width: 18rem; display: inline-block"
      >
        <p class="card-text bottom-aligned text-white">Exercise more!</p>
      </div>
    </div>
    <!-- PIE DE PÁGINA -->

    <div class="row mt-5">
      <div class="col-12 px-0">
        <footer class="text-center py-0">
          <div class="text-center text-dark">
            <a> Privacity Policy</a>
            <br />
            <a> Legal Notice</a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>

<div>
  <app-boton-flotante ubicacion="Home"></app-boton-flotante>
</div>
